
    {% extends 'parent/auth_base.html' %}

{% block title %}
Reset Password
{% endblock %}


{% block content %}

<div class="reset_container">

    <form method="post" class="reset_form">

        {% csrf_token %}

        <h1 class="reset_title">
            ریست پسورد
        </h1>


        <p class="reset_text">
            لطفا ایمیل خود را وارد کنید
        </p>


        <div class="reset_fields">
            {{ form.as_p }}
        </div>


        <button type="submit" class="reset_submit">
            ارسال ایمیل
        </button>

    </form>

</div>

{% endblock %}