{% extends 'parent/auth_base.html' %}

{% block title %}
Reset Password
{% endblock %}


{% block content %}
{% if form.errors %}
    <div>
        {{ form.errors }}
    </div>
{% endif %}
<div class="reset_container">

    <div class="reset_form">

        <h1 class="reset_title">
            ریست پسورد
        </h1>


        {% if validlink %}

            <p class="reset_text">
                لطفا پسورد جدید خود را وارد کنید
            </p>


            <form method="post">

                {% csrf_token %}

                <div class="reset_fields">
                    {{ form.as_p }}
                </div>


                <button type="submit" class="reset_submit">
                    تغییر پسورد
                </button>

            </form>


        {% else %}

            <p class="invalid_link">
                لینک تغییر پسورد شما معتبر نیست.
            </p>

        {% endif %}

    </div>

</div>

{% endblock %}