<footer class="footer">

    <div class="footer_content">

        <div class="footer_about">

            <h2>
                SabzSocial
            </h2>

            <p>
                اشتراک‌گذاری پست‌ها، دنبال کردن کاربران و ارتباط با جامعه.
            </p>

        </div>


        <div class="footer_column">

            <h3>
                دسترسی سریع
            </h3>

            <a href="{% url 'social:index' %}">
                خانه
            </a>

            <a href="{% url 'social:post_list' %}">
                پست‌ها
            </a>

            <a href="{% url 'social:ticket' %}">
                تماس با ما
            </a>

        </div>


        <div class="footer_column">

            <h3>
                ارتباط
            </h3>

            <a href="#">
                Instagram
            </a>

            <a href="#">
                Telegram
            </a>

            <a href="https://github.com/AmirHossein-1385">
                Github
            </a>

        </div>


    </div>


    <div class="footer_bottom">

        © 2026 SabzSocial - تمامی حقوق محفوظ است

    </div>

</footer>